<div class="background-image">
    <section>
        <div class="container-fluid">
            <div class="row banner encabezado">
                <div class="col-md-auto ms-auto">
                    <div class="banner-info">
                        <p class="texto">About Us</p>
                        <p class="texto">Lea nuestra historia, cómo empezamos y sobre el equipo.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="sobreNosotros">
        <div class="container-fluid">
            <div class="row banner">
                <div class="col-md-6 d-flex align-items-center">
                    <img src="../../assets/img/roasted-steak.jpg" class="sobreNosotros-img">
                </div>
                <div class="col-md-6">
                    <div class="banner-info">
                        <h2>Misión</h2>
                        <p class="texto">Ser el restaurante de carnes asadas por excelencia en Aguascalientes,
                            Aguascalientes,
                            reconocido por la calidad excepcional de nuestros productos, la excelencia en el servicio
                            y la creación de experiencias gastronómicas memorables que deleitan a nuestros clientes y
                            fortalecen nuestra comunidad local.
                        </p>
                    </div>
                    <div class="banner-info">
                        <h2>Visión</h2>
                        <p class="texto">Convertirnos en el referente culinario de carnes asadas en Aguascalientes,
                            Aguascalientes y
                            expandir nuestra presencia a otros barrios y municipios de la ciudad, llevando el sabor y la
                            tradición de "La Vaca Dorada" a más personas, consolidando un modelo de negocio sostenible y
                            rentable que genere valor para nuestros colaboradores, clientes y comunidad.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="valores">
        <div class="container-fluid">
            <div class="row banner">
                <div class="col-md-6 valores-info">
                    <h2 class="text-center">Valores</h2>
                    <div class="banner-info">
                        <p class="texto">Calidad: Nos comprometemos con la selección rigurosa de ingredientes frescos y
                            de alta
                            calidad, utilizando cortes de
                            carne de proveedores locales cuidadosamente seleccionados y técnicas de preparación que
                            exaltan su sabor natural.
                        </p>

                        <p class="texto">Pasión: Somos apasionados por la gastronomía y la elaboración de platos a base
                            de carne,
                            poniendo nuestro corazón y
                            dedicación en cada preparación para brindar una experiencia culinaria única que refleje la
                            cultura culinaria de
                            Aguascalientes.
                        </p>

                        <p class="texto">
                            Servicio: Nos enfocamos en brindar un servicio excepcional, atento y personalizado, creando
                            un ambiente cálido y
                            acogedor donde nuestros clientes se sientan valorados y atendidos con la mayor amabilidad,
                            hospitalidad característica
                            de los aguascalentenses.
                        </p>

                        <p class="texto">
                            Tradición: Honramos las tradiciones culinarias de Aguascalientes y preservamos los métodos
                            de preparación artesanal de
                            carnes asadas, transmitiendo el sabor y la esencia de nuestra herencia gastronómica local.

                        </p>

                        <p class="texto">
                            Comunidad: Nos comprometemos con el desarrollo de nuestra comunidad, fomentando el consumo
                            local de productos frescos de
                            productores regionales, apoyando a empresas y emprendedores locales, y generando
                            oportunidades de trabajo dignas para
                            nuestros colaboradores.
                        </p>

                    </div>
                </div>
                <div class="col-md-4">
                    <img src="../../assets/img/woman-holding.jpg" class="valores-img">
                </div>
            </div>
        </div>
    </section>

    <section class="chef">
        <div class="container-fluid">
            <div class="row banner">
                <div class="col-md-8">
                    <h3>Sabrosa y crujiente</h3>
                    <h2>Nuestro Chef</h2>
                    <div class="banner-info">
                        <p class="texto">
                            El Chef Ejecutivo de "La Vaca Dorada" posee una reconocida trayectoria en la gastronomía de
                            carnes, destacándose por su
                            meticulosa atención al detalle y su profundo conocimiento en la selección de los mejores
                            cortes. Con una vestimenta
                            habitualmente elegante, compuesta por un uniforme blanco prístino y un alto gorro de chef,
                            su presencia en la cocina
                            refleja su seriedad y profesionalismo. Este chef no solo se dedica a la preparación.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="../../assets/img/chef.png" class="valores-img"
                        style="width: 100%; height: 300px; display: block; margin: 10px;">
                </div>
            </div>
        </div>
    </section>

    <br>
</div>