<div class="background-image d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row a-center">
            <ng-container *ngFor="let item of mesas; let index = index">
                
                <!-- Cada 3 elementos, comenzar una nueva fila -->
                <div *ngIf="index % 3 === 0" class="w-100"></div><br><br>
                <div class="col-lg-4">
                    <app-mesa-card [mesa]="item"></app-mesa-card>
                </div>
                
            </ng-container>
        </div>
    </div>
</div>
