.background-image {
  background-image: url("../../assets/img/54395.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-nav {
  background-color: rgba(255, 255, 255, 0.199);
}

.navbar-brand {
  flex-grow: 1;
  text-align: center;
}

.navbar-image {
  height: 3rem;
}
.bg-list{
  background: transparent;
}

#chart {
  max-width: 650px;
  margin: 35px auto;
}
