<h1>PLATOS</h1>
<div class="card-container row">
  <div class="col-md-4">
    <div class="card">
      <img src="../assets/imagenes.jpg/plato1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button (click)="placeOrder('Nombre del Plato')" class="btn btn-primary">Ordenar</button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <img src="../assets/imagenes.jpg/plato2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button (click)="placeOrder('Nombre del Plato')" class="btn btn-primary">Ordenar</button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <img src="../assets/imagenes.jpg/plato3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button (click)="placeOrder('Nombre del Plato')" class="btn btn-primary">Ordenar</button>
      </div>
    </div>
  </div> 
</div>

<br>
<br>
<div class="card-container row">
  <div class="col-md-4">
    <div class="card">
      <img src="../assets/imagenes.jpg/plato4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button (click)="placeOrder('Nombre del Plato')" class="btn btn-primary">Ordenar</button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <img src="../assets/imagenes.jpg/plato5.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button (click)="placeOrder('Nombre del Plato')" class="btn btn-primary">Ordenar</button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <img src="../assets/imagenes.jpg/plato6.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button (click)="placeOrder('Nombre del Plato')" class="btn btn-primary">Ordenar</button>
      </div>
    </div>
  </div> 
</div>






