<div class="background-image text-center">
    <div class="login-container">
        <div class="login-title">
            <p>Login</p>
            <img src="../../assets/img/logo.png" alt="Vaca Dorada">
            <i class="fa-solid fa-bars-staggered"></i>
        </div>
            <div class="mb-3">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Correo Electrónico"   required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña"
                 required>
            </div>
            <div class="mb-3">
                <button class="btn" (click)="login()">Login</button>
            </div>
    </div>
</div>