<!--Contenedor de todo el componente -->
@if(mesa){
    <div class="card-mesa text-center" style="width: 300px;">
        <!--Contenedor del semáforo de botones-->
        <button type="button" class="btn btn-dark"[disabled]="mesa.Estado!='Libre'" (click)="generaCodigo()" >Reservar</button>
        <div class="card-transparent buttons">
            @if (this.mesa.Estado=='Libre') {
                <button type="button" class="btn btn-success" disabled>D</button>
            }
            @else {
                <button type="button" class="btn btn-danger" disabled>O</button>
            }
        </div>
        <!--Contenedor de la imagen de la mesa-->
        <div class="card-transparent mesa" style="width: 200px;">
            <img src="../../assets/img/mesa.png" class="card-img-top" alt="...">
        </div>
        <h2 style="color: white">Mesa {{mesa.NoMesa}}</h2>
        <p >Capacidad: {{mesa.Capacidad}}</p>
    </div>
}
