
.mesa-btn {
    display: block; /* Cambiamos a bloque para que sean verticales */
    margin-top: 10px; /* Agregamos margen superior */
    padding: 10px 20px;
    background-color: #f8ef9c;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }

  .mesa-btn:hover {
    background-color: #ffdc3f;
  }

  .custom-col {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    position: relative;
    width: calc(33.33% - 20px); /* Ancho de aproximadamente 1/3 del contenedor */
    max-height: 80vh; /* Altura máxima del 80% del viewport */
    overflow-y: auto; /* Agrega barra de desplazamiento vertical si el contenido es más grande que la altura máxima */
    background-color: rgba(255, 255, 255, 0.199);
  }
  

  /* Estilos para los botones dentro de la segunda columna */
  .button-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  
  .button-container button {
    margin-right: 5px; /* Espacio entre los botones */
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    height: 80vh; /* Altura máxima del 80% del viewport */
  }
  
 

  .cosina{
    background-image: url('../../assets/img/54395.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
    height: 100vh; 
    
  }

  
#mesas {
  border-radius: 30px;
}

#extra {
  border-radius: 30px;
}

.mesa-icon {
  max-width: 60px; /* Ancho máximo de la imagen */
  max-height: 60px; /* Alto máximo de la imagen */
  margin-left: -70px;
}

/* Estilos para el contenedor de la mesa */
.mesa-container {
  margin-right: -3.5%;
  margin-left: -3.5%;
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  transition: background-color 0.3s ease; /* Agrega una transición suave al color de fondo */
 

  /* Establece el color de fondo inicial */
  background-color: rgba(255, 255, 255, 0); /* Color de fondo inicial */
}

/* Estilos para el contenedor de la mesa cuando se pasa el mouse sobre él */
.mesa-container:hover {
  background-color: rgb(255, 255, 255); /* Cambia el color de fondo al pasar el mouse */
}

.mesa-name{
  margin-right: 100px;
}
.col.custom-col:nth-child(2) .button-container {
  margin-top: 50px; /* Ajusta este valor según sea necesario para evitar la superposición */
}
